$breakpoints:(
  'sm':'screen and (max-width:550px)',
  'md':'screen and (max-width:750px)',
  'lg':'screen and (max-width:1060px)',
  'xl':'screen and (max-width:1200px)'
);
@mixin mq($breakpoint:md){
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}
body{
  box-sizing: border-box;
  hr{
    border-bottom: 5px solid black;
  }
}
/*----------------------------------------------
ヘッダー
-----------------------------------------------*/
header{

  .header_top{
    display:flex;
    justify-content: space-between;
    margin:20px 10px;
  }
  ul{
    padding:18px 0;
  }
  li{
    display: inline-block;
  }
  
}
/*----------------------------------------------
タブメニュー
-----------------------------------------------*/
.tab_container{
  margin:0 0 0 0px;
  height: 700px;
}
/* ulのデフォルトスタイルを消去 */
.tabs-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: white;
  display: flex;
  border-bottom: 5px solid black;
  li:first-child{
    padding:10px;
  }
  li:last-child{
    width:10px;
    padding:0;
  }
}

/* タブの基本スタイル */
.tabs-menu li {
  margin-bottom: 0px;
  padding: 20px 40px 10px 40px;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  color: black;
  text-decoration: none;
  background-color: white;
  font-size:25px;
  @include mq(md){
    font-size:20px;
    padding: 10px 30px;
  }
  @include mq(sm){
    font-size:18px;
    padding: 10px 15px;
  }

  /* 各プロパティをふわっと変える演出 */
  transition: all 0.15s;
}

/* タブにマウスを乗せたらカーソルの形を変える */
.tabs-menu li:hover {
  cursor: pointer;
}

/* 非選択のタブにマウスを乗せたら色を変える */
.tabs-menu li:not(.active):hover {
}

/* 選択中のタブ */
.tabs-menu .active {
  background-color: black;
  display: flex;
  border-bottom-color: white;

}
.tabs-menu .active {
  color: white;
}

/* タブコンテンツ表示エリア */
.tabs-content {
  padding: 10px 10px 10px 0;
  background-color: white;
  margin:0 20px 0 20px;

}
/*----------------------------------------------
選択
-----------------------------------------------*/
.task_progress{
  display: block;
  margin:10px 0 0px auto ;
  font-size:18px;
  padding:0 10px 5px 10px;
}
.task_content{
  max-width: 1200px;
}

/*----------------------------------------------
Todoリスト
-----------------------------------------------*/
table,tr,th,td{
  padding:10px 10px 10px 10px;
  
}
table{
  max-width:1200px;
  width:100%;
  .move{

  }
  th{
    padding:25px 10px 25px 10px;
    text-align: left;
    border-left:1px solid white;
    &:first-child{
      width:5px;
      padding-right: 10px;
    }

  }
  tr{
    border-bottom: 1px dotted black;  
      &:first-child{
        background-color: black;
        color:white;
        border-bottom: none;
      }
      &:last-child{
        border-bottom: none;
      }
  }
  td{
    border-right: 1px solid black;
    line-height: 23px;
      &:first-child{
        padding-right: 0;
      }
      &:last-child{
      border-right:none;
      width:100px;
        @include mq(md){
          font-size:14px;
          width:70px;
        }
        @include mq(sm){
          font-size:12px;
          width:50px;
        }
      }
      &:nth-child(2n){
        width:100px;
          @include mq(md){
            font-size:14px;
            width:70px;
          }
          @include mq(sm){
            font-size:12px;
          }
      }
      &:nth-child(3n){
        @include mq(md){
          font-size:14px;
          padding-top:0px;
        }
        @include mq(sm){
          font-size:12px;
          padding-top:0px;
        }
      }
    }
}
/*----------------------------------------------
フッター
-----------------------------------------------*/
footer{
  margin-top:20px;
  text-align: center;
}