@charset "UTF-8";
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  border-bottom: 5px solid black;
}

a {
  color: #1a3d9c;
  text-decoration: none;
}

/*----------------------------------------------
ヘッダー
-----------------------------------------------*/
header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 10px;
}

header .header_link {
  padding: 18px 0;
}

header .header_link li {
  margin: 0 20px;
  font-size: 20px;
}

header li {
  display: inline-block;
}

header .weather_guide {
  padding: 15px;
}

header .weather_guide li {
  display: block;
}

header .weather_guide li:nth-child(2n) {
  text-align: center;
}

header .weather_guide .icon {
  width: 50px;
  height: 50px;
  background-color: #cecece;
}

/*----------------------------------------------
タブメニュー
-----------------------------------------------*/
.tab_container {
  margin: 0 0 0 0px;
  height: 700px;
}

/* ulのデフォルトスタイルを消去 */
.tabs-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 5px solid black;
}

.tabs-menu li:first-child {
  padding: 10px;
}

/* タブの基本スタイル */
.tabs-menu li {
  margin-bottom: 0px;
  padding: 20px 40px 10px 40px;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  color: black;
  text-decoration: none;
  background-color: white;
  font-size: 25px;
  /* 各プロパティをふわっと変える演出 */
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

@media screen and (max-width: 750px) {
  .tabs-menu li {
    font-size: 20px;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 550px) {
  .tabs-menu li {
    font-size: 18px;
    padding: 10px 15px;
  }
}

/* タブにマウスを乗せたらカーソルの形を変える */
/* 非選択のタブにマウスを乗せたら色を変える */
.tabs-menu li:not(.active):hover {
  background-color: #e7e7e7;
  -webkit-transition: background-color 2.5s;
  transition: background-color 2.5s;
}

/* 選択中のタブ */
.tabs-menu .active {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-menu .active {
  color: white;
}

/* タブコンテンツ表示エリア */
.tabs-content {
  padding: 10px 10px 10px 0;
  background-color: white;
  margin: 0 20px 0 20px;
}

/*----------------------------------------------
選択
-----------------------------------------------*/
.task_progress {
  display: block;
  margin: 10px 0 0px auto;
  font-size: 18px;
  padding: 0 10px 5px 10px;
}

.task_content {
  max-width: 1200px;
}

/*----------------------------------------------
Todoリスト
-----------------------------------------------*/
table, tr, th, td {
  padding: 10px 10px 10px 10px;
}

table {
  max-width: 1200px;
  width: 100%;
}

table th {
  padding: 25px 10px 25px 10px;
  text-align: left;
  border-left: 1px solid white;
}

table th:first-child {
  width: 5px;
  padding-right: 10px;
}

table tr {
  border-bottom: 1px dotted black;
}

table tr:first-child {
  background-color: black;
  color: white;
  border-bottom: none;
}

table tr:last-child {
  border-bottom: none;
}

table td {
  border-right: 1px solid black;
  line-height: 23px;
}

table td:first-child {
  padding-right: 0;
}

table td:last-child {
  border-right: none;
  width: 100px;
}

@media screen and (max-width: 750px) {
  table td:last-child {
    font-size: 14px;
    width: 70px;
  }
}

@media screen and (max-width: 550px) {
  table td:last-child {
    font-size: 12px;
    width: 50px;
  }
}

table td:nth-child(2n) {
  width: 100px;
}

@media screen and (max-width: 750px) {
  table td:nth-child(2n) {
    font-size: 14px;
    width: 70px;
  }
}

@media screen and (max-width: 550px) {
  table td:nth-child(2n) {
    font-size: 12px;
  }
}

@media screen and (max-width: 750px) {
  table td:nth-child(3n) {
    font-size: 14px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 550px) {
  table td:nth-child(3n) {
    font-size: 12px;
    padding-top: 0px;
  }
}

/*----------------------------------------------
フッター
-----------------------------------------------*/
footer {
  margin-top: 20px;
  text-align: center;
}

/*----------------------------------------------
tooltip
-----------------------------------------------*/
.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .15s, visibility .15s;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
}
/*# sourceMappingURL=style.css.map */